@import "fonts";
$font-primary: 'Faune-Text_Regular', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$font-primary-italic: 'Faune-Text_Italic', 'Helvetica Neue', 'Helvetica', arial, sans-serif;
$font-primary-bold: 'Faune-Text_Bold', 'Helvetica Neue', 'Helvetica', arial, sans-serif;